@import '@styles/__variable.module.scss';
@import '@styles/__mixin.module.scss';


.container{
    @include flex_box_custom(center, flex-start, 25px);
    margin-top: 20px;
    padding: 20px;
    transition: all 0.3s ease;
    position: relative;
    img{
        width: 70px;
        height: 90px;
    }

    
    .boxClose{
        position: absolute;
        top: 10px;
        right: 10px;
        transform: translateX(50px);
        cursor: pointer;
        transition: all 0.3s ease;

    }

    
    .boxContent{
        @include flex_box_custom(center, flex-start, 10px);
        flex-direction: column;

        .title{
            font-size: 14px;
            color: $primary-color;
        }
        .price{
            font-size: 13px;
            color: $primary-color;

        }
        .size{
            font-size: 13px;
            color:$second-color;

        }
        

    }
    .overlayLoading{
        @include flex_box_custom(center, center, 0px);
        
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.5);
    }

    &:hover{
        background-color: #f7f7f7;

        .boxClose{
            transform: translateX(0);
        }
    }
}