@import '@styles/__variable.module.scss';
@import '@styles/__mixin.module.scss';

.container{
    @include flex_box_custom(space-between,unset , 0px);
    flex-direction: column;
    padding: 20px 20px 0px 20px; 
    height: 95%;

    .total{
        @include flex_box_custom(space-between,center , 0px);
        font-size: 15px;
        color: $primary-color;

    }
    .BoxBtn{
     @include flex_box_custom(center,center , 10px);
     flex-direction: column;
    }

    .containerListProductCart{
        position: relative;

        .overlayLoading{
            @include flex_box_custom(center, center, 0px);
            
            position: absolute;
            top:0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(255, 255, 255, 0.5);
        }
    }
    .boxEmpty{
        text-align: center;
        font-size: 14px;
        color: $four-color;
        margin-top: 30px;

        .boxBtnEmpty{
            width: 162px;
            margin: 20px auto;
        }
    }
    .containerListItem{
        @include flex_box_custom(space-between, unset,0px);

        flex-grow: 1;
        flex-direction: column;
    }
}

.isEmpty{
    justify-content: unset;
}