
.slick-slider:hover .slick-arrow{
    color:#333;
    width: 20px;
    height: 20px;
    opacity: 1;
    transition: all 0.3s ease;

}
.slick-slider:hover .slick-next{
    right: -20px;
}
.slick-slider:hover .slick-prev{
    left: -20px;
}
.slick-next{
    z-index: 9999;
    right: 0;
}
.slick-prev{
    z-index: 9999;
    left: 0;
}
