@import '@styles/__variable.module.scss';
@import '@styles/__mixin.module.scss';


.container{
    position: relative;


.overlay{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #0000004d;
    z-index: 1000;
    transition: all 0.3s ease;
}
.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    width: 350px;
    height: 100vh;
    background-color: #fff;
    z-index: 1001;
    transition: all 0.3s ease;
    transform: translateX(350px);
    // Thêm thuộc tính này để sidebar có thể cuộn
    overflow-y: auto;  
    max-height: 100vh;
}
// Để ẩn thanh cuộn nhưng vẫn có thể cuộn bằng chuột
.sidebar::-webkit-scrollbar {
    width: 0px;
}


.slideSidebar{
    transform: translateX(0);
}


.boxIcon{

    @include flex_box_custom(center, center, 0);
    position: absolute;
    top: 20px;
    left: -60px;
    width: 35px;
    height: 35px;
    font-size: 20px;
    background-color: $white-color;
    border-radius: 50%;

}
}
