@import '@styles/__variable.module.scss';
@import '@styles/__mixin.module.scss';

.container{
        margin-bottom: 20px;
    .title{
        font-size: 14px;
        color: $second_color;
        margin-bottom: 10px;

        }
    .boxInput{
        width: 100%;
        position: relative;

        input{
            width: 100%;
            border: 1px solid #e1e1e1;
            outline: none;
            padding: 10px 0px 10px 0px;

        }
        .boxIcon{
            position: absolute;
            right: 5px;
            top: 12px;
            cursor: pointer;
        }
        .errorMsg{
            font-size: 12px;
            color: red;
        }
    }
}