
@import '@styles/__variable.module.scss';
@import '@styles/__mixin.module.scss';

.btn {
    @include btn(176px, 42px, 3px);
    @include flex_box_custom(center, center, 0px);

    text-align: center;
    width: 100%;
    padding: 20px 35px;
    font-size: 13px;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

//  Primary Button
.PrimaryBtn {
    background-color: $primary-color;
    color: $white-color;

    &:hover {
        color: $primary-color;
    }
}

//  Secondary Button (Ngược lại với Primary)
.SecondaryBtn {
    color: $primary-color;
    border: 1px solid $primary-color;

    &:hover {
        background-color: $primary-color;
        color: $white-color;
    }
}
