@import '@styles/__variable.module.scss';
@import '@styles/__mixin.module.scss';


.container{
    background-color:$primary-color ;
    margin-top: -50px;
    padding: 20px 50px ;

    @include flex_box_custom(space-between, center, 0px)
}

.containerCard{
    @include flex_box_custom(center, center, 18px);
    width: 280px;
    height: 104px;
}

.containerContent{
    @include flex_box_custom(center, flex-start, 8px);
    flex-direction: column;
    color:$white-color;
    font-weight: 300;
}
.title{
    font-size: 17px;
    margin-bottom: 10px;
}

.des{
    color: #ffffffc7;
    font-size: 16px;
}